<!DOCTYPE html>
<html>
<body>
 <script type="text/javascript" src="../static/libs-s/js/wwLogin-1.2.4.js"></script>
 <div id="wx_reg" ></div>
<script type="text/javascript">
 //var test = window.location.href;
/* alert(test);*/
 //console.log(test);
	var wwLogin = new WwLogin({
        "id": "wx_reg",  
        "appid": "ww60f69edf84f8d24f",
        "agentid": "1000002",
        "redirect_uri": "http%3A%2F%2Fsales-int.ihxlife.com",
        "state": "STATE",
        "href": "",
        "lang": "zh",
    });
 console.log(wwLogin)
</script>
</body>
</html>